# ignore temporary build process files
.deps/
makefile
/autom4te.cache/
/config.status
/pkgconfig/*.pc
/doxyfile

# ignore log files
*.log

# ignore dolphin files
.directory

# ignore binary/compiled files
*.[oa]
*.so

# ignore temporary files
*~

# ignore IDE files
/nbproject/